.catalogo{
    width:90%;
    margin: 0 auto;
}
.box_cat{
    padding: 120px 0;
}
.cat_menu{
    margin: 20px 0;

}
.ant-menu-item-selected {
    color: rgba(0, 0, 0, 0.65);
}
.ant-menu-item:hover {
    color: rgba(0, 0, 0, 0.65);
}
.ant-menu-item:select {
    background-color: pink;
}
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background-color: #fff3e0;
}
.ant-menu-vertical .ant-menu-item:after, .ant-menu-vertical-left .ant-menu-item:after, .ant-menu-vertical-right .ant-menu-item:after, .ant-menu-inline .ant-menu-item:after {

    border-right: 3px solid #ffb74d;
}
.ant-menu-inline .ant-menu-submenu-title:hover {
    color:#e3801b;
}
.ant-menu-submenu-arrow{
    color:#e3801b !important;
}
.ant-menu-submenu-vertical > .ant-menu-submenu-title:hover .ant-menu-submenu-arrow:after, .ant-menu-submenu-vertical-left > .ant-menu-submenu-title:hover .ant-menu-submenu-arrow:after, .ant-menu-submenu-vertical-right > .ant-menu-submenu-title:hover .ant-menu-submenu-arrow:after, .ant-menu-submenu-inline > .ant-menu-submenu-title:hover .ant-menu-submenu-arrow:after, .ant-menu-submenu-vertical > .ant-menu-submenu-title:hover .ant-menu-submenu-arrow:before, .ant-menu-submenu-vertical-left > .ant-menu-submenu-title:hover .ant-menu-submenu-arrow:before, .ant-menu-submenu-vertical-right > .ant-menu-submenu-title:hover .ant-menu-submenu-arrow:before, .ant-menu-submenu-inline > .ant-menu-submenu-title:hover .ant-menu-submenu-arrow:before {
     background: -webkit-gradient(linear, left top, right top, from(#e3801b), to(#e3801b));
     background: -webkit-linear-gradient(left,  #e3801b, #e3801b);
    background: -o-linear-gradient(left, #e3801b, #e3801b);
     background: linear-gradient(to right,  #e3801b, #e3801b);
}
.cat_menu{
    width:255px;
 
    background-color: white;
}
.cat_product{
    width:500px;
    flex-grow: 2;

}
.menu{
    display: block;
}
.prod{
    width: 100%;
    margin: 0 auto;

}
.fl{
    display: flex;
    flex-wrap: wrap;
 }
