.recuadro{
    background-image: url(../../assets/PROMO.jpg);
    background-size: cover;
    background-position: center;
    width:80%;
    margin: 50px auto;
    height:170px;
    text-align: center;
}
.recuadro h3{
    font-size: 400%;
  color: white;
    padding-top: 30px;
    margin-bottom: 0;
}
.recuadro p{
    color:white;
    text-transform: uppercase;
    font-family: Avenir;
}