@import url('https://fonts.googleapis.com/css?family=Roboto:300');

.card{
    text-align: center;
    width:200px;
    min-width:200px;
    min-height: 270px;
    max-height:271px;
    flex-grow: 1;
    margin: 10px 20px 30px 20px;

}
.card img{
    width:auto;
    height:200px;
}
a{
    text-decoration: none;
    color:inherit;
}
.card h3{
    font-size: 15px;
}
.card p{
    font-family: Avenir;
}