/*Categorias*/
.slide{
    padding-top: 120px;
}

.item{
    height: ;
}
.urbana{
    width:200px;
    flex-grow: 1;
    height:400px;
    margin:10px;
    background-position: center;
    background-size: cover;
    background-image: url('https://scontent.fmex6-1.fna.fbcdn.net/v/t31.0-8/28238825_1550850961676953_7150945108500670221_o.jpg?oh=fde4626079d08c833794fa3acd8f37b3&oe=5B18303F');
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color:white;
}
.prox{
    color:#254004;
    font-size: 35px;
    font-family: Avenir;
    margin: 50px 0;
}
.urbana h3{
    color:white;
}
.line_white{
    background-color: white;
    border:none;
    width:0;
    height:2px;
    border-radius: 1px;
    transition: all 1s ease;
    margin-bottom: 100px;
}
.trans{
    opacity: .0;
    width: 90%;
    margin: 0 auto;
    transition: all 1s ease;
}
.sub{
    font-size: 12px;
}
.urbana:hover .line_white{
    display: inherit;
    width:100px;
}
.urbana:hover .trans{
    opacity: 1;
}
.urbana:hover h3 {
    font-size: 130%;
}
.urbana:hover .cov{
    background-color: rgba(0,0,0,.5);

}
.destacados{
    width: 80%;
    margin: 0 auto;
}
.box_relevantes{
    text-align: center;
}
.cov{
    width:100%;
    height:100%;
    background-color: transparent;
    transform: all 1s ease;
}
.cov h3{
    font-family: Millard;
}

.ant-carousel .slick-slide {
    width:100%;
    text-align: center;
    height: 80vh;
    line-height: 160px;
    background: #364d79;
    overflow: hidden;
}

.ant-carousel .slick-slide h3 {
    padding-top: 100px;
    font-size: 40px;
    color: #fff;
}

.im{
    background-size: cover;
    background-position: center;
    width:100%;
    height:100%;

}
.uno{
    background-image: url('../../assets/1.jpg');
}
.dos{
    background-image: url('../../assets/2.jpg');
}
.tres{
    background-image: url('../../assets/3.jpg');
}
.cuatro{
    background-image: url('../../assets/4.jpg');
}
.cinco{
    background-image: url('../../assets/5.jpg');
}
.seis{
    background-image: url('../../assets/6.jpg');
}
.siete{
    background-image: url('../../assets/7.jpg');
}
