.footer{
    background-color:  #e3801b;
    width:100%;
    color:white;
    height:250px;
    padding-top: 40px;

}

.footer p{
    font-size: 14px;
    font-family: Avenir;
}
.redes span{
    margin: 0 5px;
}
.linea{
    height:1px;
    border: none;
    background-color: rgba(255,255,255,.5);

}
.logo_y{
    display: none;
}
@media(max-width: 425px){
    .footer{
        height:auto;
        padding-bottom: 20px;
    }
}
