.footer{
    background-color:  #e3801b;
    width:100%;
    color:white;
    height:250px;
    padding-top: 40px;

}

.footer p{
    font-size: 14px;
    font-family: Avenir;
}
.redes span{
    margin: 0 5px;
}
.linea{
    height:1px;
    border: none;
    background-color: rgba(255,255,255,.5);

}
.text_yako{
    font-size: 20px;
    font-family: Avenir;
}
.titulo{
    font-size: 30px;
}
.logo_y{
    width:140px;

}
.formas img{
    width:130px;
}
.data_ctc{
    width:50%;
    justify-content: center;
    text-align: center;
    display: flex;
    align-items: center;
    font-family: Avenir;
}
.data_ctc span{
    margin: 0 10px;
}
a:hover{

    color: inherit;
}
@media(max-width: 425px){
    .footer{
        height:auto;
        padding-bottom: 20px;
    }
    .data_ctc{
        width:100%;
    }
    .data_ctc div{
        margin-top: 40px;
    }
}
