@font-face {
  font-family: Millard;
  font-style: normal;
  font-weight: normal;
  src: url('./assets/Cinzel-Regular.otf');
}
@font-face {
  font-family: Typer;
  font-style: normal;
  font-weight: normal;
  src: url('./assets/Typewriter.otf');
}

h1, h2, h4{
  font-family: Millard;
}

h1, h2, h3, h4{

  text-transform: uppercase;
}
.text{
  font-family: Avenir;
}
.av{
  font-family: Avenir !important;
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
