.nav_fix{
    width:100%;
    position: fixed;
    background-color: white;
    z-index: 9999;
    padding-bottom: 10px;
}
.box_nav{
    width:90%;
    margin:0 auto;
    text-align: center;
    margin-top: 20px;
}
.box_nav img{
    width:200px;
    margin: 0px 0 5px 0;
}
.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.owl-theme .item img{
    height:640px;
}
.pestanas a{
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;

}
.dropbtn {
    background-color: transparent;
    height:100%;   width:150px;
    flex-grow: 1;

    font-size: 14px;
    border: none;
    cursor: pointer;
    text-align: center;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    top:20px;
    right:0px;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 999;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}
.nav_superior{
    width: 90%;
    margin: 0 auto;
    margin-top: -20px;
}
.fle{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.bx{
    width:100px;
    flex-grow: 1;
}
.nav_superior input{
    border: none;
    width:150px;
    margin-left: -25px;
    border-bottom: 1px solid #e0e0e0 ;
}
.search span{
    cursor: pointer;
}
.nav_superior input:selection{
    color:transparent;
    border-color: inherit;
}
.user_nav span{
    margin: 0 5px;
    font-size: 17px;
}
.log{
    font-size: 40px;
}
@media(max-width: 1200px){
    .nav_fix h3{
        font-size: 15px;
    }
    .box_nav{
        width:100%;
    }
    .dropbtn{
        width:80px;
    }
    .log{
        font-size: 20px;
    }
}
@media(max-width: 450px){

    .pestanas, .search{
        display: none;
    }
    .owl-carousel .owl-item img{

        height: 500px;
    }
    .owl-carousel {
        width: 100% !important;

    }
}
