.letrero{
    color:#254004;
    font-size: 20px;
    font-family: Avenir;
    margin: 10px 0;
    text-align: center;
}
.nav_fix{
    width:100%;
    position: fixed;
    background-color: white;
    z-index: 9999;
    padding-bottom: 5px;
    text-align: center;
}
.promo{
    background-color: #9b8b7d;
    width:100%;
    height:40px;
    text-align: center;
    margin-bottom: 10px;
}
.promo p{
    font-family: Avenir;
    padding-top: 10px;
    color:white;
}
.box_nav{
    width:90%;
    margin:0 auto;
    text-align: center;
}
.nav_fix img{
    width:150px;
    margin: 0px 0 5px 0;
    margin-top: -10px;
}
.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.owl-theme .item img{
    height:640px;
}
.pestanas a{
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;

}
.dropbtn {
    background-color: transparent;
    height:100%;   width:150px;
    flex-grow: 1;

    font-size: 12px;
    border: none;
    cursor: pointer;
    text-align: center;
}

.dropbtn h3{
    font-family: Avenir;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    top:20px;
    right:0px;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 999;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}
.nav_superior{
    width:90%;
    margin: 0 auto;
    margin-top: -5px;
}
.fle{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.nav_superior input{
    border: none;
    width:100px;
    margin-left: -25px;
    border-bottom: 1px solid #e0e0e0 ;
}
.search{
    cursor: pointer;
    margin: 0 30px;
}
.nav_superior input:selection{
    color:transparent;
    border-color: inherit;
}
.user_nav span{
    margin: 0 5px;
    font-size: 14px;
}
.log{
    font-size: 40px;
}
@media(max-width: 1200px){
    .nav_fix h3{
        font-size: 15px;
    }
    .box_nav{
        width:100%;
    }
    .dropbtn{
        width:80px;
    }
    .log{
        font-size: 20px;
    }
}
@media(max-width: 650px){

    .pestanas, .search{
        display: none;
    }

}
@media(max-width: 450px){

    .owl-carousel .owl-item img{

        height: 500px;
    }
    .owl-carousel {
        width: 100% !important;

    }
}
